@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Smooch+Sans:wght@500&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.bg-light {
  background: linear-gradient(to top, #BC3961, #D6577E);
  position: sticky; }

ul li {
  list-style: none;
  color: #0C0B0B;
  font-size: 1rem;
  font-weight: 300;
  line-height: 0.6rem; }
  ul li a {
    text-decoration: none;
    color: #0C0B0B;
    font-family: "Roboto", sans-serif; }
    ul li a:hover {
      transform: rotateY(20deg);
      transition: transform 0.8s; }
      ul li a:hover img .animate_animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--animate-duration);
        animation-duration: var(--animate-duration);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
      ul li a:hover img .animate__slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft; }

.slide {
  margin: 10px 0px; }
  .slide img {
    height: 70vh; }

html {
  width: 100%; }
  html body {
    background-image: url(../img/pink_rice.png);
    background-attachment: fixed; }
    html body p {
      font-size: 1.2rem;
      line-height: 2rem;
      color: #0C0B0B;
      font-family: "Roboto", sans-serif;
      font-weight: 300; }
      html body p article {
        color: #0C0B0B;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.3rem; }

.novedades_articulo {
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 10px 30px;
  box-sizing: border-box;
  border: solid 2px violet; }

.img, svg {
  vertical-align: initial; }

.clase {
  text-align: center; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: transparent;
  border: none;
  border-radius: 0rem;
  font-size: 1.3rem;
  margin-right: 2rem; }

.botonCardTop {
  vertical-align: top; }

.btn-primary, .btn-roundedExt {
  color: #0C0B0B;
  background-color: #0acac6;
  border-color: #212529; }

.btn-roundedExt {
  border-radius: 10px; }

.alineacionFormulario {
  text-align: left; }

.TituloV1 {
  font-size: 1.4rem;
  color: #black; }

.ListaTrabConNos {
  color: #black;
  text-align: center;
  list-style-type: none; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #dbadad;
  border: 0; }

.accordion-item {
  background-color: #dbadad;
  border: 0; }

.TextAcordion {
  font-size: 16px;
  padding: 16px 20px; }

footer {
  width: 100%;
  margin: 10px 0px;
  background: linear-gradient(to top, #BC3961, #D6577E);
  height: auto;
  display: flex;
  justify-content: flex-start; }
  footer h5 {
    font-size: 0.7rem;
    color: black; }
  footer .bi-facebook {
    font-size: 35px;
    color: #0C0B0B;
    margin-left: 5px;
    margin-right: 5px; }
    footer .bi-facebook:hover {
      color: white; }
  footer .bi-instagram {
    font-size: 35px;
    color: #0C0B0B;
    margin-left: 5px;
    margin-right: 5px; }
    footer .bi-instagram:hover {
      color: white; }
  footer .bi-whatsapp {
    font-size: 35px;
    color: #0C0B0B;
    margin-left: 5px;
    margin-right: 5px; }
    footer .bi-whatsapp:hover {
      color: white; }
