@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Smooch+Sans:wght@500&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%
}





/*selectores de etiqueta*/

body{
	background-image: url(../img/pink_rice.png);
	background-attachment: fixed;
}

p{
	color: #0C0B0B;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1rem;
}

article p{
	color: #0C0B0B;
	font-size: 2rem;
	font-weight: 300;
	line-height: 2rem;

}

h1 h2{
	font-size: 4rem;
	font-family: 'Smooch Sans', sans-serif;
	font-weight: 300;
	line-height: 4rem;
}
/*BOTONERA*/
/*.encabezado nav{
	background-color: #F384A9;
	padding: 10px 30px;
}

.encabezado nav ul{
	
}

nav a img{
	text-align: left;
}


.encabezado nav ul li{
	list-style: none;
 	font-size: 2rem;
 
}

nav ul li a{
	text-decoration: none;
	color: #514E50
}
ol li{
	color: #0C0B0B;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.4rem; 
}*/

/*BOTONERA FLEXBLOX*/

nav{
	/*background-color: #F384A9;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

}

nav ul{
	list-style: none;
	text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    flex-grow: 1;
}

nav ul li{
	list-style: none;
 	margin-left: 10px;
 	color: #0C0B0B;
	font-size: 1.9rem;
	font-weight: 300;
	line-height: 1.4rem;
}

nav ul li a{
	text-decoration: none;
	color: #514E50

	}

	aside{
	background-color: green;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SUBCLASE HOVER*/

.encabezado nav ul li a:hover{
	font-weight: 500;
	color: black;
}


/* FIN BOTONERA*/

/*Footer*/
footer{
	background-color: #F384A9;
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

/*Fin Footer*/


/*selectores de clase, estilo CamelCase*/

.formStyle{

	color: #0C0B0B;
	font-size: 1.4rem;
	line-height: 1.4rem;
}

.sacarDecoration{
	text-decoration: none;
}

.textGrey{
	color: #615D5D
}

.bgLight{

background-color: rgba(245, 133, 167, 0.8);

}

.bgDark{

	background-color: rgba(195, 190 ,190 , 0.8);
}

/*Selectores de clase, estilo BEM*/

.eliminar_subr_enlaces{
	text-decoration: none;
}

.encabezado_img--fluid{
	width: 100%
}

.novedades_articulo{
	width: 90%;
	height: auto;
	margin: 10px auto;
	padding: 10px 30px;
	box-sizing: border-box;
	border: solid 2px violet;
}

.center{
	text-align: center;
}

/*COMENZAMOS A APLICAR FLEXBOX INDEX*/

.flexboxLogoNoticias{

	display: flex;
	align-items: center;

}
.flexboxImagenesIndex{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flexboxImagenesIndexhijo img{
	padding-left: 70px;
    padding-top: 10px;
}

.flexBotonera{

	display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

/*COMENZAMOS A APLICAR FLEXBOX CONTACTO*/

.flexboxLogoContacto{

	display: flex;
	align-items: center;

}

/*COMENZAMOS A APLICAR FLEXBOX FAQS*/

.flexboxLogoFAQ{

	display: flex;
	align-items: center;
}

/*COMENZAMOS A APLICAR FLEXBOX NOSOTROS*/

.flexboxLogoNosotros{

	display: flex;
	align-items: center;

}

/*COMENZAMOS A APLICAR FLEXBOX TRABAJA CON NOSOTROS*/

.flexboxLogoTraConNos{

	display: flex;
	align-items: center;

}

.estiloLista{

	font-size: 1.5rem
}

/*COMENZAMOS CON GRID, INDEX*/

.contenedor{

	display: grid;
	grid-template-columns:1fr;
	grid-template-rows: auto;
	grid-template-areas:  
	"barra" 
	"header" 
	"cuerpo" 
	"aside"
	"pie";
}

#barra{

grid-area: barra;

}

#header{

grid-area: header;

}

#cuerpo{

grid-area: cuerpo;

}

#aside{
	grid-area: aside
}

#pie{

grid-area: pie;

}

/*COMENZAMOS CON LOS MEDIA Q*/

@media (min-width: 800px){

.contenedor{

	grid-template-columns: 80vw 20vw;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
	"barra barra" 
	"header header" 
	"cuerpo aside" 
	"pie pie";
}

#cuerpo img{

display: flex;
flex-direction: column;
align-items: center;
margin-left: 50px

}

#aside{
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
}

}

@media (min-width: 900px){

	.flexboxImagenesIndexhijo{
		flex-direction: row;

	}

	#cuerpo img{
	margin: 10px 0px;

}

}

@media (min-width: 1112px){

	.contenedor{

		grid-template-columns: 10vw 70vw 20vw;
		grid-template-rows:repeat(4, auto);
		grid-template-areas:
		"barra barra barra" 
		"header header header" 
		"cuerpo cuerpo aside" 
		"pie pie pie";
	}

#cuerpo article img{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

}

}
/*COMENZAMOS CON ANIMACIONES INDEX*/

.StyleGradient{

	background: linear-gradient(to top, #BC3961, #D6577E )
}

.EfectoLista:hover{

transform: rotateY(20deg);
transition: transform 0.5s;

}

.zoomImagenes:hover{

	transform: scale(0.9);
	cursor: pointer;
	transition: 1.2s
}
