//Slider

.slide{
	margin:10px 0px;
		img{
			height: 70vh;
		}	
}

.ImgSlider{
	object-fit: cover;
}

//Body

html{
	width: 100%;
		body{
			background-image: url(../img/pink_rice.png);
			background-attachment: fixed;
			p{
				@include textoGeneral(1.2rem,2rem,$colorTexto);
				font-family: $fontMain;
				font-weight: 300;
				article{
					color: #0C0B0B;
					font-size: 1.3rem;
					font-weight: 300;
					line-height: 1.3rem;
				}
			}
		}
}

.novedades_articulo{
width: 100%;
height: auto;
margin: 10px auto;
padding: 10px 30px;
box-sizing: border-box;
border: solid 2px violet;
}

.novedades_nosotros{
height: auto;
margin: 10px auto;
padding: 10px 30px;
box-sizing: border-box;
border: solid 2px violet;
}

.img, svg {
    vertical-align: initial;
}

.clase{

	text-align: center;

}

.card{

	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: transparent;
    border: none;
    border-radius: 0rem;
    font-size: 1.3rem;
    margin-right:2rem;

}

.botonCardTop{

	vertical-align: top;
}

.btn-primary {
    color: map-get($map:$paleta,$key:'tres');
    background-color: map-get($map:$paleta,$key:'seis');
    border-color: map-get($map:$paleta,$key:'siete');
}

.btn-roundedExt {
    @extend .btn-primary;
    border-radius: 10px
}

//CONTACTO MODIFICACIONES

.alineacionFormulario{

	text-align: left;

}

//Trabaja con nosotros MODIFICACIONES

.TituloV1{
	@include TituloV1(1.4rem,#black);
		}

.ListaTrabConNos{

	color:#black;
	text-align: center;
	list-style-type: none;

}

.btn-primaryTCN {
    color: map-get($map:$paleta,$key:'tres');
    background-color: map-get($map:$paleta,$key:'ocho');
    border-color: map-get($map:$paleta,$key:'siete');
    &:hover{
    	color: map-get($map:$paleta,$key:'cuatro');
    }
}

//Estilos FAQ

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #dbadad;
    border: 0;
   
}

.accordion-item {
    background-color: #dbadad;
    border:0;
     }

.TextAcordion{
	font-size: 16px;
	padding:16px 20px;
}     
