//footer

footer{
	width: $w-100;
	margin: 10px 0px;
	background: $colorFondo;
	height:auto;
	display: flex;
	justify-content: flex-start;
	h5{
		font-size: 0.7rem;
		color:black;	
	}
	.bi-facebook{
			@include ImagenesFooter(35px,$colorTexto,5px,5px);
	}

	.bi-instagram{
			@include ImagenesFooter(35px,$colorTexto,5px,5px);
	}

	.bi-whatsapp{
			@include ImagenesFooter(35px,$colorTexto,5px,5px);
	}
}

				