//Nesting

.bg-light{

background:$colorFondo;
position:sticky;

}
	ul{
		li{
			list-style: none;
 			color: #0C0B0B;
			font-size: 1rem;
			font-weight: 300;
			line-height: 0.6rem;
			a{
				text-decoration: none;
				color: $colorTexto;
				font-family:$fontMain;
				&:hover{
					transform: rotateY(20deg);
					transition: transform 0.8s;
					img{
						.animate_animated{
							-webkit-animation-duration: 1s;
    						animation-duration: 1s;
    						-webkit-animation-duration: var(--animate-duration);
    						animation-duration: var(--animate-duration);
    						-webkit-animation-fill-mode: both;
    						animation-fill-mode: both;
						}
						.animate__slideInLeft {
    						-webkit-animation-name: slideInLeft;
							   animation-name: slideInLeft;
							}
					}
				}
			}
		}
	}
